# Notas internas
NOTAS.md
SUBIR_A_GITHUB.md

# Build
.idea/
*.iml
.gradle/
build/
app/build/
/captures
.externalNativeBuild
.cxx

# Rutas y llaves locales
local.properties
*.jks
*.keystore

# Salidas
*.apk
*.aab
/deliverables/

# Sistema
.DS_Store
Thumbs.db
